
*{
    font-family: lato;
}
body{
    background-color:  #bba480;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#main{
    margin-left: 10%;
    min-width: 400px;
    min-height: 400px;
    display: inline-block;
    margin: 0px;
    margin-left: 30%;
}

@media (max-width: 1020px){
    body{
        flex-direction: column;
    }
    #main{
        margin-left: 0px;
    }
    #leftpanel{
        margin: 0px auto;
    }
    #leftpanel h1::before, #leftpanel h1::after{
        width: 30px;
    }
}

td{
    background-color:  #e6dacf;
    border: 1px solid #e6dacf;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

#main td{
    -moz-border-radius: 10px;
    border-radius: 5px;

}

#leftpanel{
    background-color:  #e6dacf;
    color: #806E40;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    width: 30%;
    display: inline-block;
    margin:  0px;
    padding-bottom: 30px;
}

#leftpanel h1{
	font-size: 30px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}

#leftpanel h1::before, #leftpanel h1::after{
    margin: 0 auto;
	display: block;
	content: "";
	height: 1.5px;
	width: 12%;
	background: #806E40;
	font-size: 30px;
}

#previev{
    margin: 0px auto;
    margin-top: 7px;
    margin-bottom: 15px;
}

.ball{
    width: 30px;
    height: 30px;
    margin: 0px auto;
    border-radius: 50%;
}

.appear{
    animation: appearing 0.3s;
}

@keyframes appearing{
	from{ width: 10px; height: 10px; }
	 to { width: 30px; height: 30px; }
}
@-webkit-keyframes appearing{
	from{ width: 10px; height: 10px; }
	 to { width: 30px; height: 30px; }
}

#background{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.5;
    -moz-opacity:0.5;
    background-color: lightgray;
    z-index: 3;
}

#prompt{
    width: 40%;
    left: 30%;
    top: 20vh;
    height: 40vh;
    position: absolute;
    z-index: 4;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
#prompt h1{
    margin-top: 10vh;
    font-weight: normal;

}

#score{
    margin-top: 10px;
    font-size: 20px;
}

.disapear{
    animation: disapearing 1s;
}

@keyframes disapearing{
	from{ background-color: #e6dacf; }
    50% { background-color: #6B9099; }
	 to { background-color: #e6dacf; }
}
@-webkit-keyframes disapearing{
	from{ background-color: #e6dacf; }
    50% { background-color: #6B9099; }
	 to { background-color: #e6dacf; }
}
